
# Temporary files

*.tmp
*.log
test-suite/*.txt

# Ocaml compilation files

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
_build
coqdoc.native
out.txt

# Test-suite temporary files
.result
.log
.sty
.css
.html
